[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = false
timeout = 60

[ssh_connection]
pipelining = true
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=60 -o GSSAPIAuthentication=no -o PreferredAuthentications=publickey -o IdentitiesOnly=yes -o AddressFamily=inet
